<configuration scan="true" scanPeriod="60 seconds">

    <!--<appender name="ELASTIC" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">-->
        <!--<url>http://yourserver/_bulk</url>-->
        <!--<index>logs-%date{yyyy-MM-dd}</index>-->
        <!--<type>tester</type>-->
        <!--<loggerName>es-logger</loggerName> &lt;!&ndash; optional &ndash;&gt;-->
        <!--<errorLoggerName>es-error-logger</errorLoggerName> &lt;!&ndash; optional &ndash;&gt;-->
        <!--<connectTimeout>30000</connectTimeout> &lt;!&ndash; optional (in ms, default 30000) &ndash;&gt;-->
        <!--<errorsToStderr>false</errorsToStderr> &lt;!&ndash; optional (default false) &ndash;&gt;-->
        <!--<includeCallerData>false</includeCallerData> &lt;!&ndash; optional (default false) &ndash;&gt;-->
        <!--<logsToStderr>false</logsToStderr> &lt;!&ndash; optional (default false) &ndash;&gt;-->
        <!--<maxQueueSize>104857600</maxQueueSize> &lt;!&ndash; optional (default 104857600) &ndash;&gt;-->
        <!--<maxRetries>3</maxRetries> &lt;!&ndash; optional (default 3) &ndash;&gt;-->
        <!--<readTimeout>30000</readTimeout> &lt;!&ndash; optional (in ms, default 30000) &ndash;&gt;-->
        <!--<sleepTime>250</sleepTime> &lt;!&ndash; optional (in ms, default 250) &ndash;&gt;-->
        <!--<rawJsonMessage>false</rawJsonMessage> &lt;!&ndash; optional (default false) &ndash;&gt;-->
        <!--<includeMdc>false</includeMdc> &lt;!&ndash; optional (default false) &ndash;&gt;-->
        <!--<maxMessageSize>100</maxMessageSize> &lt;!&ndash; optional (default -1 &ndash;&gt;-->
        <!--<authentication class="com.internetitem.logback.elasticsearch.config.BasicAuthentication" /> &lt;!&ndash; optional &ndash;&gt;-->
        <!--<properties>-->
            <!--<property>-->
                <!--<name>host</name>-->
                <!--<value>${HOSTNAME}</value>-->
                <!--<allowEmpty>false</allowEmpty>-->
            <!--</property>-->
            <!--<property>-->
                <!--<name>severity</name>-->
                <!--<value>%level</value>-->
            <!--</property>-->
            <!--<property>-->
                <!--<name>thread</name>-->
                <!--<value>%thread</value>-->
            <!--</property>-->
            <!--<property>-->
                <!--<name>stacktrace</name>-->
                <!--<value>%ex</value>-->
            <!--</property>-->
            <!--<property>-->
                <!--<name>logger</name>-->
                <!--<value>%logger</value>-->
            <!--</property>-->
        <!--</properties>-->
        <!--<headers>-->
            <!--<header>-->
                <!--<name>Content-Type</name>-->
                <!--<value>application/json</value>-->
            <!--</header>-->
        <!--</headers>-->
    <!--</appender>-->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>baker.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>baker.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="es-logger" level="INFO" additivity="false">
        <appender name="ES_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- ... -->
            <encoder>
                <pattern>%msg</pattern> <!-- This pattern is important, otherwise it won't be the raw Elasticsearch format anyomre -->
            </encoder>
        </appender>
    </logger>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] [%X{processId}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="es-error-logger" level="INFO" additivity="false">
        <appender-ref ref="FILELOGGER" />
    </logger>

</configuration>